body {
  padding-top: 30px; }

.moto-accordion-item {
  display: block;
  margin-bottom: 5px; }
  .moto-accordion-item .header {
    cursor: pointer; }
  .moto-accordion-item .content {
    height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in;
    transition: max-height 0.5s ease-in; }
    .moto-accordion-item .content.isOpen {
      height: auto; }
    .moto-accordion-item .content .content-text {
      margin: 10px 15px; }

label {
  font-weight: normal; }
