body {
	padding-top: 30px;
}

.moto-accordion-item {
	display: block;
	margin-bottom: 5px;

	.header {
		cursor: pointer;
	}
	
	.content {
		max-height: 0;
		overflow: hidden;
		transition: all cubic-bezier(1, 0, 0, 1) .5s;

		.content-text {
			display: block;
			margin: 10px 15px;
		}
	}
	&.moto-accordion-item-opened > .content{
		max-height: 1500px;
	}
}
label {
	font-weight: normal;
}
